<ion-header>
  <ion-toolbar  color="dark" >
  <ion-icon slot="start" src="../../assets/icon/carface.png"></ion-icon>
    <ion-title style="text-align: center;"> Carface Scanner </ion-title>
   <ion-buttons slot="end"> <ion-button size="small" (click)="info()">  <ion-icon  name="information"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<!--  SCAN -->

   <ion-text style="text-align: center;"> <h4>Escanea o porta-chave</h4></ion-text>
    <img  src="../../assets/gif/aille.gif" >


<!--  HISTORICO -->
 
  <ion-card color="dark" >
    <div style="margin: 4px; margin-left: 20px;">Histórico</div>
    <div scrollY="true" id="scroll-list">
  <ion-list >
  

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>

    <ion-item > 
      <ion-label> 
        <h3>CITROEN C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>
 
  
    <ion-item > 
      <ion-label> 
        <h3>aille C3 </h3> 
        <p>56MO00</p> 
      </ion-label>
      <ion-button  color="secondary" slot="end" > 
        <ion-icon color="danger" name="close">
        </ion-icon> 
      </ion-button> 
    </ion-item>
   
 
  </ion-list>
</div>
</ion-card>





</ion-content>
